body{
    background-color: aliceblue;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}
a{
    text-decoration: none;
}
h1{
    text-align: center;
    background-color: aquamarine;
}
li{
    padding: 20px;
}